<!DOCTYPE html>
<html>

<head>
  <title>Articles</title>
  <meta charset="utf8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="Articles.css">
</head>

<body>
  <header>
    <h1>Sample Page</h1>
  </header>
  <div id="contents">
    <h2>Articles</h2>
    <table class="table">
		<thead>
			<tr>
				<th>Title</th><th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="article : ${articles}">
				<td class="center" th:text="${article.title}"></td>
				<td><a href="/detail">LINK</a></td>
			</tr>
		</tbody>
	</table>
	<br>
	 <a href="/" class="btn btn-secondary mb-2">Return</a>
  </div>
  <footer class="bg-secondary">
    <p class="text-white">2023 Daichi Tanaka</p>
  </footer>
</body>

</html>